
@{
    Layout = null;
   
        }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-lumen.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/sorttable.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    @RenderSection("JavaScript", required: false)
    </head>
<body>
    <div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                @Html.Partial("_NavBar")

                @RenderBody()

                @Html.Partial("_Footer")
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</body>
</html>
