
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-group">
    @Html.ActionLink(Resources.Resource.Authors, "AuthorsTable", "Admin", null, new { @class = "btn btn-default btn-table" })
    @Html.ActionLink(Resources.Resource.Genres, "GenresTable", "Admin", null, new { @class = "btn btn-default btn-table" })
    @Html.ActionLink(Resources.Resource.Plays, "PlaysTable", "Admin", null, new { @class = "btn btn-default btn-table" })
    @Html.ActionLink(Resources.Resource.Users, "UsersTable", "Admin", null, new { @class = "btn btn-default btn-table" })
</div>

